.breadcrumbs {
    color: var(--color-5);
    cursor: pointer;
    clear: both;
    font-weight: bold;
    line-height: 3;
    text-transform: uppercase;    

    &:nth-of-type(2) {
        &::before {
            content: ' / ';
        }
    }

    &:nth-of-type(3) {
        &::before {
            content: ' / ';
        }
    }
}