@import '../../App.scss';

.section {
    @extend .flex;

    &__inner {
        height: auto;
        padding: 1.4rem 0;
        width: 60%;
    }

    &__header {
        @extend .flex;
        flex-direction: column;
        padding-bottom: 1.4rem;

        & > h1, h2 {
            color: var(--color-5);
            text-align: center;
            text-transform: uppercase;
        }

        & > hr {
            background-color: var(--color-6);
            border: none;
            height: .25rem;
            width: 8%;
        }
    }
}

.bg-color {
    background-color: var(--color-10);
}

@media(max-width: 26.563rem) {
    .section {
        &__inner {
            width: 85%;
        }
    }
}